* {
    box-sizing: border-box;
  }

body {
    font-family: "Roboto", sans-serif;
    color: black;
    background: cover;
    /*background-color: lightblue;*/
  }

header {
    border: 5px outset black;
    /*border-radius: 10px;*/
    margin: 25px 50px 30px;
    color: black;
    padding: 5px;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.container {
    width: 60%;
    padding: 40px;
    margin:0 auto;
    background:rgba(255, 255, 255, 0.8);
    /*border-radius: 10px;*/
    border: 5px outset black;
  }


legend {
    font-size: 25px;
    display: block;
    padding-bottom: 15px;
    padding-top: 5px;
}

.option {
  padding-top: 10px;
}

button {
    float: right;
}

.question-score {
  border: 5px outset black;
  text-align: center;
  padding: 15px;
  width: auto;
  margin: 30px 250px 10px;
  float: center;
}